.rxjs-card {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg');
}

.angular-card {
  background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg');
}

.firebase-card {
  background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg');
}
