<div class="landing-container">
  <mdb-navbar SideClass="navbar navbar-dark sticky-top">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <img alt="" class="d-inline-block align-top" height="30"
             src="https://mdbootstrap.com/img/Marketing/other/logo/logo-mdb-angular-small.png">
      </a>
    </mdb-navbar-brand>
  </mdb-navbar>
  <div class="container">
    <!--Projects section v.4-->
    <section class="text-center pb-3">

      <!--Section heading-->
      <h2 class="font-weight-bold h1 py-5">
        <strong>Our best projects</strong>
      </h2>
      <!--Section description-->
      <p class="grey-text pb-5 text-center">
        We graphically describe about each module with examples and use cases. This helps in monitoring the flow of the
        operators.
      </p>

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <mdb-card class="rxjs-card card-image">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
              <div>
                <h6 class="pink-text">
                  <mdb-icon fab icon="react"></mdb-icon>
                  <strong> RxJS</strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                  <strong>Angular and RxJS examples</strong>
                </h3>
                <p class="pb-3">
                  Let's play with Observables, Subject, Subscriptions and Operators.
                </p>
                <p class="pb-3">
                  Understand each operator and their use cases.
                </p>
                <a class="waves-light" color="pink" mdbBtn mdbWavesEffect rounded="true" routerLink="/rxjs" size="md">
                  <mdb-icon class="left" far icon="clone"></mdb-icon>
                  View project</a>
              </div>
            </div>
          </mdb-card>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <mdb-card class="angular-card card-image">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
              <div>
                <h6 class="blue-text">
                  <mdb-icon fab icon="angular"></mdb-icon>
                  <strong>Angular</strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                  <strong>Angular Examples</strong>
                </h3>
                <p class="pb-3">Learn about Angular modules, fundamentals, techniques, workflow, configuration and lot
                  more.</p>
                <p class="pb-4">Understand angular concepts with examples.</p>
                <a class="waves-light" color="blue" mdbBtn mdbWavesEffect rounded="true" size="md">
                  <mdb-icon class="left" far icon="clone"></mdb-icon>
                  View project</a>
              </div>
            </div>
          </mdb-card>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <mdb-card class="firebase-card card-image">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
              <div>
                <h6 class="orange-text">
                  <mdb-icon fas icon="fire-alt"></mdb-icon>
                  <strong> Firebase</strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                  <strong>Angular and Firebase examples</strong>
                </h3>
                <p class="pb-3">Learn about firebase modules and how to use them with Angular.</p>
                <p class="pb-3">Understand each module with examples and use cases</p>
                <a class="waves-light" color="orange" mdbBtn mdbWavesEffect rounded="true" size="md">
                  <mdb-icon class="left" far icon="clone"></mdb-icon>
                  View project</a>
              </div>
            </div>
          </mdb-card>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Projects section v.4-->
  </div>
</div>
