<div class="container-fluid">
  <div>
    <blockquote class="blockquote border-left border-info mb-5">
      <span class="red-text pr-2">concatAll</span> will collect all Observables and subscribe to next one when previous
      completes.
      <p class="mb-0">In the below example, there are 3 Observables but only one Observable will run at a time.</p>
      <p class="mb-0">Clicking on
        <button class="my-0 waves-light" color="default" mdbBtn mdbWavesEffect rounded="true" size="sm">Complete
        </button>
        will finish the respective inner Observable
      </p>
    </blockquote>
  </div>
  <div class="mt-5">
    <div class="row">
      <div class="col-4">
        <div class="md-form">
          <form class="form-inline md-form mr-auto mb-4">
            <input [ngModel]="stream1" class="form-control mr-sm-2" disabled id="stream1" mdbInput name="stream1"
                   type="number">
            <label for="stream1">Stream 1</label>
            <mdb-success *ngIf="runStream1">Emits every 2 seconds</mdb-success>
            <mdb-error *ngIf="!runStream1">Stream 1 completed</mdb-error>
            <button (click)="runStream1=false" class="my-0 waves-light" color="primary" mdbBtn mdbWavesEffect
                    rounded="true" size="sm">Complete
            </button>
          </form>
        </div>
      </div>
      <div class="col-4">
        <div class="md-form">
          <form class="form-inline md-form mr-auto mb-4">
            <input [ngModel]="stream2" class="form-control mr-sm-2" disabled id="stream2" mdbInput name="stream2"
                   type="number">
            <label for="stream2">Stream 2</label>
            <mdb-success *ngIf="runStream2">Emits every 4 seconds</mdb-success>
            <mdb-error *ngIf="!runStream2">Stream 2 completed</mdb-error>
            <button (click)="runStream2=false" class="my-0 waves-light" color="secondary" mdbBtn mdbWavesEffect
                    rounded="true" size="sm">Complete
            </button>
          </form>
        </div>
      </div>
      <div class="col-4">
        <div class="md-form">
          <form class="form-inline md-form mr-auto mb-4">
            <input [ngModel]="stream3" class="form-control mr-sm-2" disabled id="stream3" mdbInput name="stream3"
                   type="number">
            <label for="stream3">Stream 3</label>
            <mdb-success *ngIf="runStream3">Emits every 6 seconds</mdb-success>
            <mdb-error *ngIf="!runStream3">Stream 3 completed</mdb-error>
            <button (click)="runStream3=false" class="my-0 waves-light" color="warning" mdbBtn mdbWavesEffect
                    rounded="true" size="sm">Complete
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="concatAll$ | async as concatAll" class="md-form">
        <p>Concat all above streams {{concatAll}}</p>
      </div>
    </div>
  </div>
</div>
